type = "javascript"
account_id = "${WRANGLER_ACCOUNT_ID}"
usage_model = "bundled"
workers_dev = true
name = "${TESTNET_WRANGLER_WORKER_NAME}"
kv_namespaces = [
  { binding = "META", id = "${TESTNET_WRANGLER_META}" },
  { binding = "TX_FUNCTIONS", id = "${TESTNET_WRANGLER_TX_FUNCTIONS}" },
]

[vars]
STELLAR_NETWORK = "TESTNET"
HORIZON_URL = "${TESTNET_HORIZON_URL}"
TURRET_ADDRESS = "${TESTNET_TURRET_ADDRESS}"
TURRET_RUN_URL = "${TESTNET_TURRET_FUNCTION_RUNNER_URL}"
XLM_FEE_MIN = ${TESTNET_WRANGLER_XLM_FEE_MIN}
XLM_FEE_MAX = ${TESTNET_WRANGLER_XLM_FEE_MAX}
UPLOAD_DIVISOR = ${TESTNET_WRANGLER_UPLOAD_DIVISOR}
RUN_DIVISOR = ${TESTNET_WRANGLER_RUN_DIVISOR}

[build]
command = "npm i && npm run build"

[build.upload]
format = "modules"
main = "./shim.mjs"

[durable_objects]
bindings = [
  { name = "TX_FEES", class_name = "TxFees" }
]

## ALPHA
[env.alpha]
name = "${ALPHA_WRANGLER_WORKER_NAME}"
kv_namespaces = [
  { binding = "META", id = "${ALPHA_WRANGLER_META}" },
  { binding = "TX_FUNCTIONS", id = "${ALPHA_WRANGLER_TX_FUNCTIONS}" },
  { binding = "ALLOWED", id = "${ALPHA_WRANGLER_ALLOWED}" }
]

[env.alpha.durable_objects]
bindings = [
  { name = "TX_FEES", class_name = "TxFees" }
]

[env.alpha.vars]
STELLAR_NETWORK = "PUBLIC"
HORIZON_URL = "${ALPHA_HORIZON_URL}"
TURRET_ADDRESS = "${ALPHA_TURRET_ADDRESS}"
TURRET_RUN_URL = "${ALPHA_TURRET_FUNCTION_RUNNER_URL}"
XLM_FEE_MIN = ${ALPHA_WRANGLER_XLM_FEE_MIN}
XLM_FEE_MAX = ${ALPHA_WRANGLER_XLM_FEE_MAX}
UPLOAD_DIVISOR = ${ALPHA_WRANGLER_UPLOAD_DIVISOR}
RUN_DIVISOR = ${ALPHA_WRANGLER_RUN_DIVISOR}
## END ALPHA